/node_modules
.env
npm-debug.log
yarn-error.log
/.idea
/.vscode
coverage
coverage.json
typechain
scripts/addresses.json
cache
artifacts
/public/hot
/public/storage
/public/js
/public/css
/storage
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
.lando.local.yml
